.vs/ColorBlindSimplification/FileContentIndex/19bbead2-d60a-4d5a-ae82-a680cccd14d9.vsidx
.vs/ColorBlindSimplification/FileContentIndex/56cc431a-770a-4bd2-be96-8611a854725a.vsidx
.vs/ColorBlindSimplification/FileContentIndex/e9e2b622-4742-4e8d-86c3-aa9b25f4933b.vsidx
.vs/ColorBlindSimplification/v17/.wsuo
.vs/ColorBlindSimplification/v17/Browse.VC.db-shm
.vs/ColorBlindSimplification/v17/Browse.VC.db-wal
.vs/ColorBlindSimplification/v17/Browse.VC.opendb
.vs/